@import "./color_schemes/dark";

$link-color: #57d9a3;
$btn-primary-color: #57d9a3;
$body-background-color: #0d1117;
$sidebar-color: #111820;
$search-background-color: #0d1117;
$table-background-color: #0d1117;
$code-background-color: #090d12;
$border-color: #2a3441;
$body-text-color: #c9d1d9;
$body-heading-color: #f0f6fc;
$nav-child-link-color: #a8b3bf;
